@model List<EmployeeRecordsMVC.DTOs.ReturnedUserDTO>
@{
    ViewData["Title"] = "Charts";
}

<h1 class="h3 mb-3 font-weight-normal">Charts</h1>
<canvas id="myChart"></canvas>
<script src="~/js/script.js"></script>